nav{
    background-color: white;
    width: fit-content;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 20px lime,inset 0px 0px 40px lime;
    #menu{
        padding: .5em;
        cursor: pointer;
        fill: black;
        position: fixed;
        top: 0;
        left: 0;
        background: transparent;
        width: fit-content;
        border-bottom-right-radius: 10px;
    }
    .shownav{
        width: 200px !important;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 2.3rem;
        justify-content: center;
        align-items: center;
        text-align: left;
        transition: 500ms width;
        overflow: hidden;
        a{
            width: 100% !important;
            display: flex;
            padding: .5em;
            align-items: center;
            text-decoration: none;
            color: black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
             white-space: nowrap;
             
            }
            a:hover{
                box-shadow: 0px 0px 50px lime,inset 0px 0px 50px lime;
               border-radius: 10px;
               background: lime;
            }
        svg{
            fill: black;
            padding: 1em;
            padding-left: 0;
            box-sizing: content-box;
        }
    }
}